<!DOCTYPE html>
<html>
	<head>
		<title></title>
		@*-- Add More CSS here -- *@
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")" />
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/ng-table/ng-table.css")" />
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/style.css")" />
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" />
		@*-- Add More CSS here -- *@
		<script data-main="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>
	</head>
	<body>
		<div class="container">

			<div class="row" id="header">
				<div class="span12">
					@*<h1>Welcome to the ngEurope sample!</h1>
					<h2 ng-show="jwt">Your JWT is:</h2>
					<pre ng-show="jwt" class="jwt"><code>{{jwt}}</code></pre>
					<pre ng-show="jwt" class="jwt"><code>{{decodedJwt | json}}</code></pre>*@
				</div>
			</div>

			<div class="row" id="content">
				<div class="span12">
					<div class="navbar">
						<div class="navbar-inner">
							<a class="brand" href="#">Title</a>
							<ul class="nav">
								<li><a href="#/persons">Persons</a></li>
								<li><a href="#/events">Events</a></li>
								<li><a href="#/contacts">Contacts</a></li>
								<li><a href="#/accounts">Accounts</a></li>
								<li><a href="#/users">Users</a></li>
								<li><a href="#/users">Users</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			@* -- Main Content -- *@
			<div growl></div>
			<div data-ng-view></div>
			@*-- Footer -- *@
			@*<div class="row" id="footer">
				<div class="span12">
            Footer
				</div>
			</div>*@
		</div>
	</body>
</html>
